<!DOCTYPE html>
<html>

<head>
    <title>Flask Cheat Sheet</title>
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">

    <!-- milligram -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css">

    <!-- highlight.js -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>

    <script>
        hljs.initHighlightingOnLoad();
    </script>
    <style>
        html {
            font-size: 50%;
        }

        th,
        td {
            padding: 0.5rem 0.5rem;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="column">
                <h1>Flask: The Cheat Sheet</h1>
            </div>
            <div class="column column-20 column-offset-40">
            </div>
        </div>
        <div class="row">
            <div class="column column-40">
                <h5>Installation</h5>
                <pre class="bash"><code>$ pip install Flask</code></pre>
                <h5>Hello World</h5>
                <pre><code class="python"># myapp.py
from flask import Flask

app = Flask(__name__)

@app.route('/')
def hello_world():
    return 'Hello World'

if __name__ == '__main__':
    app.run(debug=True)</code></pre>
                <h5>URL Routing</h5>
                <pre><code class="python">@app.route('/foo/&ltname&gt/&ltint:age&gt')
def view(name, age):
    return '%s is %d years old' % (name, age)</code></pre>
                <h5>Template Rendering</h5>
                <pre><code class="python">from flask import render_template
...
    return render_template('foo.html', var1=value1)</code></pre>
            </div>
            <div class="column column-60">
                <h5>Flask for Django Users</h5>
                <table>
                    <thead>
                        <tr>
                            <th style="width:130px">Action</th>
                            <th>Django</th>
                            <th>Flask</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><small>Retrieve Query Params ("GET data")</small></td>
                            <td><code class="python">request.GET</code>
                                </br>
                                <code class="python">request.GET['name']</code></td>
                            <td><code class="python">request.args</code>
                                </br>
                                <code class="python">request.args['name']</code></td>
                        </tr>
                        <tr>
                            <td><small>Retrieve form params ("POST data")</small></td>
                            <td><code class="python">request.POST</code>
                                </br>
                                <code class="python">request.POST['name']</code></td>
                            <td><code class="python">request.form</code>
                                </br>
                                <code class="python">request.form['name']</code></td>
                        </tr>
                        <tr>
                            <td><small>Checking request type</small></td>
                            <td><code class="python">request.method</code></td>
                            <td><code class="python">request.method</code></td>
                        </tr>
                        <tr>
                            <td><small>Retrieve cookie value</small></td>
                            <td><code class="python">request.COOKIES</code></td>
                            <td><code class="python">request.cookies</code></td>
                        </tr>
                        <tr>
                            <td><small>Set a cookie</small></td>
                            <td><code class="python">response.set_cookie(key, value)</code></td>
                            <td><code class="python">response.set_cookie(key, value)</code></td>
                        </tr>
                        <tr>
                            <td><small>Sessions</small></td>
                            <td><code class="python">request.session['foo']</code></td>
                            <td><code class="python">session['foo']</code></td>
                        </tr>
                        <tr>
                            <td><small>Access settings</small></td>
                            <td><code class="python">from django.conf import settings</code>
                                </br>
                                <code class="python">settings.my_name</code></td>
                            <td><code class="python">app.config</code>
                                </br>
                                <code class="python">app.config['my_name']</code></td>
                        </tr>
                    </tbody>
                </table>
                <h5>Useful Functionality</h5>
                <table>
                    <thead>
                        <tr>
                            <th><code class="python">from flask import ...</th>
                            <th>This is a...</th>
                            <th>usage</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><code>Flask</code></td>
                                <td><small>Flask application object</small></td>
                                <td><code class="python">app = Flask(__name__)</code></td>
                        </tr>
                        <tr>
                            <td><code>request</code></td>
                            <td><small>Thread-local request object</small></td>
                            <td><code class="python">request.args['test']</code></br><code class="python">request.form['name']</code></td>
                        </tr>
                        <tr>
                            <td><code>session</code></td>
                            <td><small>Thread-local session object</small></td>
                            <td><code class="python">session['name'] = 'value'</code></td>
                        </tr>
                        <tr>
                            <td><code>url_for</code></td>
                            <td><small>URL Builder based on route names</small></td>
                            <td><code class="python">url_for('blog', 'id=45')</code></td>
                        </tr>
                        <tr>
                            <td><code>redirect</code></td>
                            <td><small>Generates a redirect response</small></td>
                            <td><code class="python">return redirect('/hello')</code></td>
                        </tr>
                        </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h5>Basic App Layout</h5>
                <pre><code class="nohighlight">my_app.py
static/
    logo.png
    base.css
templates/
   blog_post.html
   index.html</pre>
                </code>
            </div>
            <div class="column">
                <h5>Packaged Application Layout</h5>
                <pre><code class="nohighlight">my_app/
    __init__.py
    application.py
    models.py
    static/
        logo.png
        base.css
    templates/
        blog_post.html
        index.html</pre></code>
            </div>
            <div class="column">
                <h5>More Info</h5>
                <ul>
                    <li><a href="http://flask.pocoo.org">http://flask.pocoo.org</a> (main site & docs)</li>
                    <li><a href="http://flask.pocoo.org/docs/quickstart">http://flask.pocoo.org/docs/quickstart</a></li>
                    <li><a href="http://github.com/mitsuhiko/flask">http://github.com/mitsuhiko/flask</a></li>
                    <li><a href="http://code.runnable.com/Flask?orderBy=popular">Runnable Flask Examples</a></li>
                    <li><a href="http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">The Flask Mega-Tutorial</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="column column-33 column-offset-33">
                <p style="text-align: center;"><small>Made with ♥ by <a href="http://www.peterbaumgartner.com">Peter Baumgartner</a>, using <a href="https://milligram.github.io">milligram.css</a>.</br>Literally just a copy of <a href="http://www.idiotinside.com/static/uploads/2015/02/flask-cheat-sheet.pdf">this PDF</a>.</small></p>
            </div>
        </div>
    </div>
</body>
</html>
